body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

section {
	padding-bottom: 60px;
}

.category {
		margin: 5% 10%;
		max-width: 750px;

		/*border: 1px solid black;*/
		/*padding: 0;*/
		margin-top: 0;
		margin-bottom: 0;
}

h2, h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	/*border-bottom: 1px black dotted;*/
	display: inline-block;
	padding-bottom: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	/*width: 200px;*/
	/*margin: 0;*/
	/*padding-top: 0;*/
	/*vertical-align: top;*/
	/*width: 60%;*/
}

h3 {
	font-size: 1.6em;
	letter-spacing: 3px;
	color: rebeccapurple;
	padding-bottom: 0;
	margin-bottom: 10px;
}

h4 {
	text-align: right;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	color: rebeccapurple;
	font-size: 1.2em;
	margin: 15px 0;
		/*text-transform: uppercase;*/

	/*font-variant: small-caps;*/
}

h1 {
	font-size: 1.9em;
	margin-bottom: 0;
	padding-bottom: 0;
}

.opener {
	text-transform: none;
				/*color: rebeccapurple;*/
				font-weight: 400;
					color: pink;
			margin-top: 0;
			padding-top: 0;
				/*margin-left: 530px;*/
				font-size: 1.4em;
				letter-spacing: 1px;
				color: black;
				margin-left: 90px;
				/*margin-bottom: 30px;*/

}

.experience {
	margin-bottom: 10px;
}

ul {
	margin-top: 5px;
	padding-top: 0;
	list-style-type: circle;
}

.heading {
	width: 200px;
}

.talk {
	width: 400px;
}

.content {
	display: inline-block;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	display: inline-block;
	margin: 0;
	padding: 0;	border: none;
	margin-left: 1%;
	/*padding-bottom: 0;*/
}

.ampersand {
	font-size: 1.8em;
	margin-bottom: 30px;
	margin-top: 0;
	/*color: rebeccapurple;*/
}

.shaded-bg {
		background-color: whitesmoke;
		padding-top: 25px;
		padding-bottom: 50px;
		/*transform: skewX(-15deg);*/
}

.holder {
	background-color: mediumpurple;
		/*max-height: 350px;*/
}

.intro {
			/*max-height: 350px;*/
	top: 0;
	padding-top: 75px;
	padding-bottom: 100px;
	transform: skewX(30deg);
	width: 82%;
	margin: 0 auto;
	/*border: 1px solid rebeccapurple;*/
	background-color: whitesmoke;
}

.intro .category {
	transform: skewX(-30deg);
}

.intro-par {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	width: 70%;
	/*margin-left: 200px;*/
	/*margin-right: 320px;*/
	/*font-size: 18px;*/
	margin-top: 0;
	margin-left: 70px;
	/*border-left: 1px dotted black;*/
}

.project {
		margin-left: 70px;
}

.median {
	display: inline-block;
	/*vertical-align: top;*/
	width: calc(100% - 335px);
	max-width: 435px;
	overflow: hidden;
		border-bottom: 1px black dotted;
		/*padding-right: 5%;*/


}

.emphasis {
	font-weight: 400;
	color: rebeccapurple;
}

.place {
	/*font-weight: 400;*/
	/*color: darkslategrey;*/
	/*color: rebeccapurple;*/
}

a, a:visited {
	color: rebeccapurple;
	font-weight: 500px;
	font-weight: bold;
	/*text-decoration: none;*/
}

a:hover {
	text-decoration: none;
}

.content {
	margin-left: 70px;
}

.contact a {
	font-size: 24px;
	color: darkgrey;
}

.contact a:hover {
	color: rebeccapurple;
}

.skills span {
		padding: 2px 5px;
		background-color: lavender;
		/*border: 1px solid lavender;*/
		/*border: 1px solid black;*/
	border-radius: 4px;
	/*margin-left: 90px;*/
	line-height: 1.8em;
	box-sizing: border-box;
}

.kitten-link, .graffiti-link {
	cursor: pointer;
}

.photo-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 600px;
	clear: both;
/*	@media (max-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}*/
}

.kitten, .graffiti {
	display: none;
	position: absolute;
	z-index: 199;
	border: 2px solid darkgrey;
	border-radius: 5px;
	box-shadow: 0 0 15px grey;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	background-color: white;
	width: 90%;
}

.photo-img {
	width: 100%;
}

.kitten-close, .graffiti-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	width: 20px;
	padding: 2px;
	cursor: pointer;
	text-align: center;
	/*background-color: $border-color;*/
	color: white;
/*	&:hover {
		color: $emphasis-color;
	}*/
}

#project_grid {
  margin: 0;
  overflow: hidden;
  list-style-type: none; 
  padding: 0;  
}

#project_grid li {
  box-sizing: border-box;
  padding-bottom: 10px;
  clear: both;
  overflow: hidden;
  padding-top: 20px;
}

figure {
	width: 40%;
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	position: relative;
  margin: 0 25px 15px 15px;
  padding-left: ;
  /*margin-right: 25px;*/
  float: right;
  /*margin-bottom: 15px;*/
  overflow: hidden;
/* //  @media (max-width: 585px) {
	// 	float: none;
	// 	width: 100%;
	// }*/
/*	&:hover {
		figcaption {
			opacity: 1;
			right: 0;
		}
		border: 2px solid black;
	}*/
	border: 2px solid rebeccapurple;
	box-sizing: border-box;
}

figure:hover {
/*	figcaption {
			opacity: 1;
			right: 0;
		}*/
	border: 2px solid darkgrey;
}

.project_img {
  width: 100%;
	display: block;
}

figcaption {
	opacity: 0;
	transition: .5s linear all;
	background: darkgrey;
	/*background: transparentize(lighten($border-color, 20%), .2);*/
	width: 50%;
	line-height: 1;
  font-size: 16px;
  /*position: absolute;*/
  /*right: -100px;*/
  bottom: 0;
 	/*text-align: right;*/
	font-size: 36px;
	position: absolute;
	padding: 1%;
	box-sizing: border-box;
/*	@media (max-width: 640px) {
		width: 15%;
	}*/
}

.project_about {
	text-align: right;
	font-size: 1.05em;
}

.fa-github, .fa-link {
	color: rebeccapurple;
/*	&:hover {
		color: $emphasis-color;
	}*/
	width: 1em;
	text-align: center;
}

.fa-plus-square:hover, .fa-minus-square:hover {
	color: rebeccapurple;
	cursor: pointer;
}

.more_about {
	display: none;
	text-align: left;
	font-size: 16px;
}

.less {
	display: none;
}

footer {
	margin-top: 30px;
	text-align: right;
	background-color: white;
	/*transform: skewX(-40deg);*/
	/*width: 94%;*/
	/*margin: 0 auto;*/
	/*background-color: rebeccapurple;*/
}

/*footer .category {
	transform: skewX(40deg);
}*/