$body-font: 'Source Sans Pro', sans-serif;
$headline-font: 'Dosis', sans-serif;
$emphasis-color: rebeccapurple;

$light-emphasis: lavender;
$med-emphasis: mediumpurple;
$shaded-color: whitesmoke;

body {
	font-family: $body-font;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}

h1 {
	font-family: $headline-font;
	font-size: 1.9em;
	font-weight: 400;
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	margin-bottom: 0;
	@media (max-width: 725px) {
		display: block;
		margin-top: 0;
	}
}

h2 {
	font-family: $headline-font;
	font-size: 1.6em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: $emphasis-color;
	display: inline-block;
	padding-bottom: 0;
	margin-bottom: 10px;
	margin-top: 40px;
}

h3 {
	font-family: $headline-font;
	font-size: 1.2em;
	font-weight: 400;
	text-align: right;
	color: $emphasis-color;
	margin: 15px 0;
	@media (max-width: 550px) { 
		text-align: left;
	}
	margin-bottom: 10px;
}

.category {
	max-width: 750px;
	padding-bottom: 50px;
	margin: 0 10%;
}

.holder {
	background-color: $med-emphasis;
	overflow: hidden;
}

.shaded-bg {
	background-color: $shaded-color;
}

.intro {
	background-color: $shaded-color;
	transform: skewX(30deg);
	width: calc(100% - 200px);
	padding: 50px 10px;
	margin: 0 auto;
	.category {
		transform: skewX(-30deg);
	}
	@media (max-width: 600px) {
		width: calc(100% - 100px);
	}
	@media (max-width: 450px) {
		transform: none;
		padding: 50px 0;
		h1 {
			font-size: 1.8em;
		}
		.opener {
			font-size: 1.3em;
		}
		.category {
			transform: none;
		}
	}
}

.median {
	width: calc(100% - 345px);
	max-width: 435px;
	display: inline-block;
	overflow: hidden;
	border-bottom: 1px black dotted;
	@media (max-width: 725px) {
		display: none;
	}
}

.opener {
	font-size: 1.4em;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 1px;
	color: black;
	display: block;
	padding-top: 0;
	margin-top: 0;
	margin-left: 90px;
	@media (max-width: 600px) {
		margin-left: 0;
	}
}

.intro-par {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	margin-top: 35px;
	margin-left: 70px;
	@media (max-width: 450px) {
		margin-left: 0;
	}
}

.content {
	margin-left: 70px;
	@media (max-width: 500px) { 
		margin-left: 0;
	}
}

.currently {
	margin-bottom: 10px;
}

.emphasis {
	font-weight: 400;
	color: $emphasis-color;
}

ul {
	list-style-type: circle;
	padding-top: 0;
	margin-top: 5px;
}

a, a:visited {
	color: $emphasis-color;
	font-weight: 500px;
	font-weight: bold;
	&:hover {
		text-decoration: none;
	}
}

.skills span {
	background-color: $light-emphasis;
	line-height: 1.8em;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 2px 5px;
}

.project_grid {
	list-style-type: none; 
  overflow: hidden;
  padding: 0; 
  margin: 0; 
 	li {
	  overflow: hidden;
 		clear: both;
	  box-sizing: border-box;
	  padding-bottom: 10px;
	  padding-top: 20px;
	}
}

figure {
	width: 40%;
	border-radius: 5px;
	display: block;
	position: relative;
  float: right;
  overflow: hidden;
	box-sizing: border-box;
	border: 1px solid grey;
	margin: 0 0 15px 25px;
	@media (max-width: 550px) {
		width: auto;
	 	float: none;
	 	margin: 10px 0 10px 0;
	}
	&:hover {
		figcaption {
			opacity: 1;
			left: 0;
		}
	}
}

.project_img {
  width: 100%;
	display: block;
}

figcaption {
	font-size: 36px;
	text-align: left;
  // width: 30%;
  min-width: 55px;
	background: lightgrey;
	opacity: 0;
  position: absolute;
  box-sizing: border-box;
  padding: 1%;
  left: -100px;
  bottom: 0;
  transition: .5s linear all;
/*	@media (max-width: 640px) {
		width: 15%;
	}*/
}

.project_about {
	font-size: 1.05em;
	text-align: right;
	p {
		margin-top: 0;
		padding-top: 0;
	}
	@media (max-width: 550px) { 
		text-align: left;
	}
}

.fa-github, .fa-link {
	color: $emphasis-color;
	text-align: center;
	width: 1em;
	&:hover {
		color: $med-emphasis;
	}
}

.fa-plus-square:hover, .fa-minus-square:hover {
	color: $emphasis-color;
	cursor: pointer;
}

.more_about {
	display: none;
	text-align: left;
	font-size: 16px;
}

.less {
	display: none;
}

.kitten-link {
	cursor: pointer;
}

.photo-container {
/*	@media (max-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}*/
}

.photo {
	width: 100%;
}

.kitten {
	background-color: white;
	width: 90%;
	max-width: 600px;
	transform: translate(-50%, -50%);
	z-index: 199;
	display: none;
	position: fixed;
	border: 2px solid darkgrey;
	border-radius: 2px;
	box-shadow: 0 0 15px grey;
	top: 50%; 
	left: 50%; 
}

.kitten-close {
	font-size: 20px;
	text-align: center;
	color: white;
	cursor: pointer;
	width: 20px;
	position: absolute;
	padding: 2px;
	top: 0;
	right: 0;
	&:hover {
		color: $light-emphasis;
	}
}

.contact {
	margin-left: 30px;
	a {
		font-size: 24px;
		color: darkgrey;
		padding-right: 1px;
		&:hover {
			color: $emphasis-color;
		}
	}
}

footer {
	color: $emphasis-color;
	text-align: right;
	background-color: white;
	margin-top: 30px;
}